ion-content {
  --ion-background-color: rgba(235, 206, 130);
}
.button-type1 {
  color: black;
  font-size: 20px;
  outline: none;
  width: 200px;
  height: 60px;
  border-radius: 10px;

  background-color: #09c0ed;
}
