ion-content {
  --ion-background-color: rgba(235, 206, 130);
  --overflow: hidden;
}
button {
  color: white;
  font-size: 20px;
  outline: none;
  width: 200px;
  height: 60px;
  border-radius: 10px;
  background-color: #62cc6b;
}
