ion-toolbar {
  --background: rgba(235, 206, 130);
}
ion-content {
  --ion-background-color: rgba(235, 206, 130);
}
ion-toolbar {
  --padding-start: 0px;
  --padding-end: 0px;
}
ion-item {
  --border-color: #000;
  margin-top: 16px;
  --padding-start: 0px;
  --min-height: 63px;
}
ion-icon {
  color: black;
}
button {
  color: white;
  font-size: 16px;
  outline: none;
  width: 100%;
  display: block;
  height: 50px;
  border-radius: 8px;
  background-color: #62cc6b;
}
.error-box {
  height: 25px;
  font-size: 14px;
  color: var(--ion-color-danger) !important;
  font-weight: 300;
}
