<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon size="large" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>ลงทะเบียน</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form">
    <div style="padding: 16px">
      <div class="error-box" *ngIf="error">กรุณาเปลี่ยนอีเมล</div>
      <ion-item>
        <ion-label position="floating">ชื่อ-นามสกุล//ชื่อบริษัท</ion-label>
        <ion-input
          autofocus="true"
          formControlName="name"
          type="text"
          maxlength="30"
          required
        >
        </ion-input>
      </ion-item>
      <div class="error-box" *ngIf="isInvalid('name')">
        <span *ngIf="form?.get('name')?.errors?.required">
          โปรดระบุชื่อ-นามสกุล
        </span>
      </div>
      <ion-item>
        <ion-label position="floating">อีเมล</ion-label>
        <ion-input
          formControlName="email"
          type="email"
          maxlength="40"
          required
          email="true"
        >
        </ion-input>
      </ion-item>
      <div class="error-box" *ngIf="isInvalid('email')">
        <span *ngIf="form?.get('email')?.errors?.required">
          โปรดระบุอีเมล
        </span>
        <span *ngIf="form?.get('email')?.errors?.email">
          โปรดระบุอีเมลให้ถูกต้อง
        </span>
      </div>
      <ion-item>
        <ion-label position="floating">รหัสผ่าน</ion-label>
        <app-show-hide-password>
          <ion-input
            formControlName="password"
            type="password"
            maxlength="15"
            minlength="5"
            required
          >
          </ion-input
        ></app-show-hide-password>
      </ion-item>
      <div class="error-box" *ngIf="isInvalid('password')">
        <span *ngIf="form?.get('password')?.errors?.required">
          โปรดระบุรหัสผ่าน
        </span>
        <span *ngIf="form?.get('password')?.errors?.minlength">
          โปรดระบุรหัสผ่านอย่างน้อย5ตัว
        </span>
      </div>
      <ion-item>
        <ion-label position="floating">ยืนยันรหัสผ่าน</ion-label>
        <app-show-hide-password>
          <ion-input
            formControlName="password_confirmation"
            type="password"
            maxlength="15"
            minlength="5"
            required
          >
          </ion-input>
        </app-show-hide-password>
      </ion-item>
      <div
        class="error-box"
        *ngIf="isInvalid('password_confirmation') || passwordNotMath"
      >
        <span
          *ngIf="form?.get('password_confirmation')?.errors?.required && this.form.get('password_confirmation').touched"
        >
          โปรดระบุยืนยันรหัสผ่าน
        </span>
        <span
          *ngIf="form?.get('password_confirmation')?.errors?.minlength && this.form.get('password_confirmation').touched"
        >
          โปรดระบุรหัสผ่านอย่างน้อย5ตัว
        </span>
        <span
          *ngIf="passwordNotMath && form?.value?.password_confirmation?.length>5"
        >
          โปรดใส่รหัสผ่านให้ตรงกัน
        </span>
      </div>

      <ion-item>
        <ion-label>ตำแหน่ง</ion-label>
        <ion-select value="form.value.role" formControlName="role">
          <ion-select-option value="บริษัทขนส่ง">บริษัทขนส่ง</ion-select-option>
          <ion-select-option value="ผู้จ้าง"> ผู้จ้าง</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </form>
</ion-content>
<ion-footer mode="ios">
  <ion-toolbar>
    <button (click)="register()">ลงทะเบียน</button>
  </ion-toolbar>
</ion-footer>
