<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>รายการของฉัน</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="height: 4px; background-color: #000000; width: 100%"></div>
  <ion-list *ngFor="let item of orders">
    <ion-item lines="none">
      <ion-grid fixed>
        <ion-row>
          สถานะ:
          <span
            [ngClass]="{'success': item?.status===3,'danger':item?.status===99||item?.status===55}"
            >{{getStatus(item?.status)}}</span
          >
        </ion-row>

        <ion-row>
          ของที่ขนส่ง:{{ item?.product_type}}<br />
          ค่าขนส่ง {{item?.cost}} บาท</ion-row
        >
      </ion-grid>
    </ion-item>
    <button class="btn-submit" (click)="showOrder(item?.id)">
      ดูรายละเอียด
    </button>
    <!-- <ion-grid fixed *ngIf="user?.role==='บริษัทขนส่ง'">
      <ion-row>
        <ion-col size="6">
          <button
            style="margin-top: 8px"
            (click)="success(item?.id)"
            class="btn-submit"
          >
            ยอบรับ
          </button></ion-col
        >
        <ion-col size="6">
          <button
            style="margin-top: 8px"
            (click)="denine(item?.id)"
            class="btn-submit"
          >
            ปฎิเสธ
          </button></ion-col
        >
      </ion-row>
    </ion-grid> -->
    <div style="height: 4px; background-color: #000000; width: 100%"></div>
  </ion-list>
  <div style="margin-bottom: 50px"></div>
</ion-content>
<app-footer></app-footer>
