<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>ข้อมูลส่วนตัว</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="loggedIn && isloadSuccess">
    <div style="padding: 24px">
      <ion-grid fixed>
        <ion-row style="color: red"> ชื่อ-นามสกุล : </ion-row>
        <ion-row> {{user?.name}} </ion-row>
        <ion-row style="color: red"> อีเมล : </ion-row>
        <ion-row> {{user?.email}} </ion-row>
        <ion-row style="color: red"> ตำแหน่ง : </ion-row>
        <ion-row> {{user?.role}} </ion-row>
        <ion-row style="color: red" *ngIf="user?.role==='บริษัทขนส่ง'">
          รายละเอียดขนส่ง :
        </ion-row>
      </ion-grid>

      <button style="margin-top: 20px" *ngIf="loggedIn" (click)="logout()">
        logout
      </button>
    </div>
  </div>
</ion-content>
